

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.user-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  padding: 20px;
}

user-login-container h2 {
  color: #333;
}

user-login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

user-login-container label {
  font-size: 16px;
  margin-bottom: 5px;
}

user-login-container input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

user-login-container button {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

user-login-container button:hover {
  background-color: #45a049;
}

user-login-container button[type="button"] {
  display: inline-block;
  background-color: #ccc;
  color: #333;
  margin-top: 0;
  margin-left: 10px; /* Add a margin between the buttons */
}


 